@{
    ViewData["Title"] = "Home";
}
<h2>Namaste from the Party Invitation App!</h2>
<p>Ready to manage your parties?</p>
<p>Your one stop solution for the event!</p>
<p>
    <a asp-controller="Party" asp-action="Index" class="btn btn-success">View all Parties</a>
    <a asp-controller="Party" asp-action="Add" class="btn btn-primary">Create a New Party</a>
</p>
