@model PartyInvitationApp.Models.Invitation
@{
    ViewData["Title"] = "Invitation response";
}

<h2>Invitation response</h2>

<p>You have been invited to the "<strong>@Model.Party.Description</strong>" party!</p>

<p>Hey @Model.GuestName, you have been invited to the gathering at <strong>@Model.Party.Location</strong> on <strong>@Model.Party.DateOfParty.ToShortDateString()</strong>.</p>

<form asp-action="Respond" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <input type="radio" name="rsvp" value="yes" required /> Yes
        <input type="radio" name="rsvp" value="no" required /> No
    </div>
    <button type="submit" class="btn btn-primary">Submit response</button>
</form>
