@{
    ViewData["Title"] = "Thank you";
}
<h2>Thank you</h2>
<p>Thank you for submitting your response! We are thrilled that you will be joining us!</p>

<a asp-controller="Party" asp-action="Index" classs="btn btn-primary">Back to Home</a>